* {
  margin: 0;
  padding: 0;
  font-size: large;
}

.Calculator {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: fit-content;
  border: 1px solid black;
}

.result {
  display: flex;
  height: 10vh;
  width: 40vw;
  align-items: center;
  justify-content: flex-end;
  font-size: xx-large;
  background-color: grey;
  color: white;
}

.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40vw;
  height: 50vh;
}

button {
  height: 10vh;
  width: 10vw;
  border: 1px inset black;
}

.orange {
  background-color: orange;
}

.btn0 {
  width: 20vw;
}